.vscode/
.DS_Store
Thumbs.db
Desktop.ini

__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
venv/

/01_excel_data_analyst/course/
/01_excel_data_analyst/data_jobs_salary_all.xlsx

/02_power_bi_business_analyst/course/
/02_power_bi_business_analyst/data/
/02_power_bi_business_analyst/data_jobs_dashboard_v1.pbix
/02_power_bi_business_analyst/data_jobs_dashboard_v2.pbix

/03_sql_data_engineer/course/
/03_sql_data_engineer/data/
/03_sql_data_engineer/sql_visualisations.pbix
/sql_visualisations.pbix

/04_python_data_scientist/course/
/04_python_data_scientist/data/